*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  background-color: black;
  z-index: 2;
}

header img{
  height: 50px;
  margin-left: 10px;
}

nav span{
  padding: 0 10px;
}

a{
  color: seashell;
}

.main{
  z-index: 1;
  padding-top: 69px;
}

.img-back{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}
 .full{
   width: 100%;
   padding: 10px 0;
   background-color: black;
 }

.TT{
  width: 1000px;
  margin: 0 auto;
  padding-top: 80px;
}

.TT h2,
.TT h4{
  padding-bottom: 20px;
}

.TeaM{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ti{
  padding: 10px 20px 10px 10px;
}

.ti img{
  height: 200px;
}

.ti span{
  display: block;
  font-weight: bold;
  padding-top: 10px;
}

.img-back2{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  margin-top: 60px;
}

.flexrow{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
}

.flexcol{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: black;
  opacity: 1;
}
 .flexcol span,
 .flexcol h3{
   padding: 20px;
 }

.fcol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding-top: 10px;
}

.fcol h2{
  padding-bottom: 20px;
}

footer{
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}
